.pagination._center
	a.pagination__prev._inactive(href="#")

	ul.pagination-list
		li.pagination-list__item
			a.pagination-list__link._active(href="#") 1
		li.pagination-list__item
			a.pagination-list__link(href="#") 2
		li.pagination-list__item
			a.pagination-list__link(href="#") 3
		li.pagination-list__item
			a.pagination-list__link(href="#") 4
		li.pagination-list__item
			a.pagination-list__link(href="#") 5
		li.pagination-list__item
			a.pagination-list__link(href="#") 6
		li.pagination-list__item
			a.pagination-list__link(href="#") ...
		li.pagination-list__item
			a.pagination-list__link(href="#") 20

	a.pagination__next(href="#")