include mixins/_breadcrumbs.pug
doctype html
html(lang="ru")
	include includes/head.pug
	body
		include includes/preloader.pug
		include includes/header.pug
		main.main
			.article
				+breadcrumbs(['Главная', 'Новости', 'Открытие магазина', 'Первый магазин в Нижнем Новгороде'])
				.article__wrapper.container
					a.btn._go-back(href="./news.html") Вернуться в “Новости”
					.article__content
						h1 Первый магазин в Нижнем Новгороде
						button
							span Открытие магазина
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9.15 12.96"><path d="M7.52 4.19H1.59a3.22 3.22 0 0 1 5.79-2.35v.06l.4-.29v-.06A3.71 3.71 0 0 0 1.1 4.28 1.6 1.6 0 0 0 0 5.81v5.52A1.63 1.63 0 0 0 1.63 13h5.89a1.63 1.63 0 0 0 1.63-1.63V5.81a1.63 1.63 0 0 0-1.63-1.62zm1.14 1.63v5.52a1.14 1.14 0 0 1-1.14 1.13H1.64a1.14 1.14 0 0 1-1.12-1.13V5.82a1.14 1.14 0 0 1 1.14-1.13h5.86a1.14 1.14 0 0 1 1.14 1.13z"/><rect width="1.63" height="4.5" x="3.73" y="6.39" rx=".13" ry=".13"/></svg>
						time 10.05.2018
						.article__slider
							.article__dots.slider-wrap__dots
							ul.article__image-list
								li
									img(src="./assets/uploads/article-1.jpg" alt="")/
								li
									img(src="./assets/uploads/article-3.jpg" alt="")/
								li
									img(src="./assets/uploads/article-1.jpg" alt="")/
								li
									img(src="./assets/uploads/article-3.jpg" alt="")/
								li
									img(src="./assets/uploads/article-1.jpg" alt="")/
						p 10 мая в Нижнем Новгороде состоится торжественное открытие первого магазина ювелирной сети "Золото России". В честь открытия посетителей ждут приятные подаркии специальные акции.Повседневная практика показывает, что консультация с широким активом требуют определенияи уточнения дальнейших направлений
						p 10 мая в Нижнем Новгороде состоится торжественное открытие первого магазина ювелирной сети "Золото России". В честь открытия посетителей ждут приятные подаркии специальные акции.Повседневная практика показывает, что консультация с широким активом требуют определенияи уточнения дальнейших направлений
						img(src="./assets/uploads/article-3.jpg" alt="")/
						p 10 мая в Нижнем Новгороде состоится торжественное открытие первого магазина ювелирной сети "Золото России". В честь открытия посетителей ждут приятные подаркии специальные акции.Повседневная практика показывает, что консультация с широким активом требуют определенияи уточнения дальнейших направлений
					aside.aside
						a.aside__link(href="#") Однолассники
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24.1 24.1"><path d="M7.2 8.3c-1.7 0-2.6 1.3-2.6 3.7s.9 3.7 2.6 3.7 2.6-1.3 2.6-3.7-.9-3.7-2.6-3.7z"/><path d="M19.6 0H4.5A4.5 4.5 0 0 0 0 4.5v15.1a4.5 4.5 0 0 0 4.5 4.5h15.1a4.5 4.5 0 0 0 4.5-4.5V4.5A4.5 4.5 0 0 0 19.6 0zM7.2 18.1c-3.1 0-5-2.3-5-6s1.9-6 5-6 4.9 2.3 5 6-1.9 6-5 6zm14.2-1.2c.1.1.2.3.1.4l-.3.2h-1.9a.4.4 0 0 1-.3-.1l-3.4-3.9v3.7a.4.4 0 0 1-.4.4h-1.6a.4.4 0 0 1-.4-.4V6.8a.4.4 0 0 1 .4-.4h1.6a.4.4 0 0 1 .4.4v3.6L19 6.5a.4.4 0 0 1 .3-.1h2l.3.2a.6.6 0 0 1-.1.4l-4.3 5z"/></svg>
						a.aside__link(href="#") Фейсбук
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24.1 24.1"><path d="M19.6 0H4.5A4.5 4.5 0 0 0 0 4.5v15.1a4.5 4.5 0 0 0 4.5 4.5h15.1a4.5 4.5 0 0 0 4.5-4.5V4.5A4.5 4.5 0 0 0 19.6 0zm-3.8 5.2a.4.4 0 0 1-.4.4h-2c-1 .1-1.1 1.2-1.1 3v.2h2.3a.4.4 0 0 1 .4.4v1.5a.4.4 0 0 1-.4.4h-2.3l.1 8.6a.4.4 0 0 1-.1.3.8.8 0 0 1-.4.1h-2a.4.4 0 0 1-.4-.4l-.1-8.6H8.3a.4.4 0 0 1-.4-.4V9.2a.4.4 0 0 1 .4-.4h1.2v-.1c0-2 .1-4 1.1-4.9.8-.8 2.2-.8 3.2-.8h.2a6.2 6.2 0 0 1 1.5.1c.2 0 .3.2.3.4z"/></svg>
						a.aside__link(href="#") Вконтакте
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24.2 24.2"><path d="M19.7 0H4.5A4.5 4.5 0 0 0 0 4.5v15.2a4.5 4.5 0 0 0 4.5 4.5h15.2a4.5 4.5 0 0 0 4.5-4.5V4.5A4.5 4.5 0 0 0 19.7 0zm-6.8 18.8H8.3a.4.4 0 0 1-.4-.4V5.8a.4.4 0 0 1 .4-.4h4.2a6.6 6.6 0 0 1 1 0 4.9 4.9 0 0 1 1.6.6 3.8 3.8 0 0 1 .7.4A3.6 3.6 0 0 1 17 9.3a3.2 3.2 0 0 1-1.2 2.7 3 3 0 0 1 1.6 2.9c0 2.4-1.8 3.9-4.5 3.9z"/><path d="M12.9 13.4h-2.3v2.8h2.3c1.3 0 1.8-.4 1.9-1.3a1.6 1.6 0 0 0-1.9-1.5zM14.4 9.3c0-.9-.5-1.3-1.9-1.3h-1.9v2.8h1.9a1.6 1.6 0 0 0 1.9-1.5z"/></svg>
				.additional.container
					p.additional__title Интересные события
					ul.news-list
						li.news-list__item
							button.news-list__item-label(type="button")
								span Открытие магазина
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9.15 12.96"><g id="Слой_2" data-name="Слой 2"><g id="Layer_1" data-name="Layer 1"><path d="M7.52,4.19H1.59A3.22,3.22,0,0,1,7.38,1.84V1.9l.4-.29V1.55A3.71,3.71,0,0,0,1.1,4.28,1.6,1.6,0,0,0,0,5.81v5.52A1.63,1.63,0,0,0,1.63,13H7.52a1.63,1.63,0,0,0,1.63-1.63V5.81A1.63,1.63,0,0,0,7.52,4.19ZM8.66,5.82v5.52a1.14,1.14,0,0,1-1.14,1.13H1.64A1.14,1.14,0,0,1,.52,11.34V5.82A1.14,1.14,0,0,1,1.66,4.69H7.52A1.14,1.14,0,0,1,8.66,5.82Z"/><rect x="3.73" y="6.39" width="1.63" height="4.5" rx="0.13" ry="0.13"/></g></g></svg>
							a.news-list__card(href="./article.html")
								img.news-list__card-pict(src="./assets/uploads/news-item1.jpg", alt="")/
								.news-list__card-info
									.news-list__card-date 10.05.2018
									.news-list__card-title Первый магазин в Нижнем Новгороде
									.news-list__card-desc
										| 10 мая в Нижнем Новгороде состоится торжественное открытие первого магазина ювелирной сети "Золото России". В честь открытия посетителей ждут приятные подарки и специальные акции.
						li.news-list__item
							button.news-list__item-label(type="button")
								span Акция
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.22 14.46"><g id="Слой_2" data-name="Слой 2"><g id="Layer_1" data-name="Layer 1"><circle cx="7.74" cy="7.04" r="1.3"/><path d="M14.22.33,13.86,0l-3.2,3.5A1.24,1.24,0,0,0,10,3.28H7a3,3,0,0,0-1.89.78L.37,8.7a1.26,1.26,0,0,0,0,1.78L4,14.09a1.26,1.26,0,0,0,1.78,0l4.67-4.67a3,3,0,0,0,.78-1.89v-3A1.22,1.22,0,0,0,11,3.84L14.18.37ZM10.71,7.55a2.53,2.53,0,0,1-.64,1.54L5.4,13.76a.77.77,0,0,1-1.07,0l-3.6-3.6a.75.75,0,0,1,0-1.06L5.4,4.43a2.53,2.53,0,0,1,1.54-.64h3a.76.76,0,0,1,.76.76h0v3Z"/></g></g></svg>
							a.news-list__card(href="./article.html")
								img.news-list__card-pict(src="./assets/uploads/news-item2.jpg", alt="")/
								.news-list__card-info
									.news-list__card-date 10.05.2018
									.news-list__card-title 15% скидка на свадебные украшения
									.news-list__card-desc
										| Приходите и выбирайте подарки себе и близким
		include includes/footer.pug
		include includes/scripts.pug