include mixins/_breadcrumbs.pug
include mixins/_accodrion-list.pug


doctype html
html(lang="ru")
	include includes/head.pug
	body
		include includes/preloader.pug
		include includes/header.pug

		main.main
			.bonus-program
				+breadcrumbs(['Главная', 'Бонусная программа'])

				.bonus-program__wrapper.container
					.bonus-program__list
						.bonus-program__item
							.bonus-program__item-desc
								h1.h1.bonus-program__item-title Бонусная программа
								.bonus-program__item-text
									p Предъявляйте карту при каждой следующей покупке, и сумма в размере 3% от стоимости покупки будет зачисляться на вашу бонусную карту. Бонусы суммируются при покупках ювелирных украшений в любом из магазинов "Золото России".
							.bonus-program__item-pict
								img(src="./assets/img/bonus-program-pict-1.jpg" alt="")/
						.bonus-program__item
							.bonus-program__item-desc
								h2.h2.bonus-program__item-title Как получить карту
								.bonus-program__item-text
									p Чтобы стать обладателем бонусной карты сети ювелирных салонов "Золото России" достаточно приобрести ювелирное изделие в нашей сети на сумму от 10 000 рублей.
							.bonus-program__item-pict
								img(src="./assets/img/bonus-program-pict-2.jpg" alt="")/
						.bonus-program__item
							.bonus-program__item-desc
								h2.h2.bonus-program__item-title Накопление бонусов
								.bonus-program__item-text
									p Предъявляйте карту при каждой следующей покупке, и сумма в размере 3% от стоимости покупки будет зачисляться на вашу бонусную карту. Бонусы суммируются при покупках ювелирных украшений в любом из магазинов "Золото России".
							.bonus-program__item-pict
								img(src="./assets/img/bonus-program-pict-3.jpg" alt="")/

					.h2._centered Вопросы и ответы
					+accodrion-list([
						{
							class: 'true',
							name: 'Как сделать заказ?',
							pict: './assets/uploads/accordion-image-1.jpg',
							text: 'Повседневная практика показывает, что начало <br /> повседневной работы по формированию позиции <br /> позволяет выполнять важные задания по разработке <br /> направлений прогрессивного развития.'
						},
						{
							name: 'Как отследить статус заказа?',
							text: 'Повседневная практика показывает, что начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития.'
						},
						{
							name: 'Как отменить заказ?',
							pict: 'http://placehold.it/285x190',
							text: 'Повседневная практика показывает, что начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития.'
						}
					])

					.get-touch
						.get-touch__text Остались вопросы? Напишите нам на почту <br/>
							a(href="mailto:zoloto-yuga@mail.ru") zoloto-yuga@mail.ru
							| &nbsp; или заполните форму
						a.btn._black.get-touch__btn.popup-ask(href="#askAQuestion") Задать свой вопрос
						.popup.mfp-hide#askAQuestion
							p.popup__title  Задать вопрос
							form.popup__form
								label.popup__label Имя
									input.popup__input.focus(type="text" placeholder="Как вас зовут?")
								label.popup__label E-mail
									input.popup__input(type="email" placeholder="email@mail.com")
								label.popup__label Комментарий
									textarea.popup__textarea(placeholder="Опишите проблему, с которой вы столкнулись, или поделитесь своими впечатлениями. Нам важно знать ваше мнение.")
								label.popup__label.popup__label-checkbox
									input.popup__input-hide(type="checkbox")
									span.popup__checkbox
									p.popup__checkbox-text Я согласен на
										span  обработку персональных данных
								button.btn._black(type="submit") Отправить
						.popup-thanks.mfp-hide#askAQuestionThank
							p.popup-thanks__title Спасибо, ваш вопрос принят!


		include includes/footer.pug
		include includes/scripts.pug




