include mixins/_breadcrumbs.pug
include mixins/_accodrion-list.pug


doctype html
html(lang="ru")
	include includes/head.pug
	body
		include includes/preloader.pug
		include includes/header.pug

		main.main
			.delivery
				.delivery__promo.service
					+breadcrumbs(['Главная', 'Доставка'])
					.container
						h1.h1._centered.service__title Доставка
						h2.h2._centered.service__subtitle Способы доставки
						.service-list
							.service-list__item
								.service-list__item-pict
									img(src="./assets/icon/export-icon.svg" width="75" height="80" alt="")/
								.service-list__item-title Самовывоз
								.service-list__item-desc Разнообразный и богатый опыт укрепление <br/> и развитие структуры позволяет оценить <br/> значение дальнейших направлений развития. <br/> Задача организации, в особенности же новая <br/> модель организационной деятельности.
							.service-list__item
								.service-list__item-pict
									img(src="./assets/icon/courier-icon.svg" width="65" height="58" alt="")/
								.service-list__item-title Курьерская доставка
								.service-list__item-desc Разнообразный и богатый опыт укрепление <br/> и развитие структуры позволяет оценить <br/> значение дальнейших направлений развития. <br/> Задача организации, в особенности же новая <br/> модель организационной деятельности.
								.service-list__item-icons
									.service-list__item-icon
										img(src="./assets/icon/delivery-methods-icon-1.svg" width="48" height="11" alt="")/
									.service-list__item-icon
										img(src="./assets/icon/delivery-methods-icon-2.svg" width="61" height="13" alt="")/
									.service-list__item-icon
										img(src="./assets/icon/delivery-methods-icon-3.svg" width="25" height="18" alt="")/

				.delivery__wrapper.container
					.h2._centered Вопросы и ответы

					+accodrion-list([
						{
							class: 'true',
							name: 'Как сделать заказ?',
							pict: './assets/uploads/accordion-image-1.jpg',
							text: 'Повседневная практика показывает, что начало <br /> повседневной работы по формированию позиции <br /> позволяет выполнять важные задания по разработке <br /> направлений прогрессивного развития.'
						},
						{
							name: 'Как отследить статус заказа?',
							text: 'Повседневная практика показывает, что начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития.'
						},
						{
							name: 'Как отменить заказ?',
							pict: 'http://placehold.it/285x190',
							text: 'Повседневная практика показывает, что начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития.'
						}
					])

					.get-touch
						.get-touch__text Остались вопросы? Напишите нам на почту <br/>
							a(href="mailto:zoloto-yuga@mail.ru") zoloto-yuga@mail.ru
							| &nbsp; или заполните форму
						a.btn._black.get-touch__btn.popup-ask(href="#askAQuestion") Задать свой вопрос
						.popup.mfp-hide#askAQuestion
							p.popup__title  Задать вопрос
							form.popup__form
								label.popup__label Имя
									input.popup__input.focus(type="text" placeholder="Как вас зовут?")
								label.popup__label E-mail
									input.popup__input(type="email" placeholder="email@mail.com")
								label.popup__label Комментарий
									textarea.popup__textarea(placeholder="Опишите проблему, с которой вы столкнулись, или поделитесь своими впечатлениями. Нам важно знать ваше мнение.")
								label.popup__label.popup__label-checkbox
									input.popup__input-hide(type="checkbox")
									span.popup__checkbox
									p.popup__checkbox-text Я согласен на
										span  обработку персональных данных
								button.btn._black(type="submit") Отправить
						.popup-thanks.mfp-hide#askAQuestionThank
							p.popup-thanks__title Спасибо, ваш вопрос принят!


		include includes/footer.pug
		include includes/scripts.pug




