include mixins/_breadcrumbs.pug
include mixins/_dropdown-filter__list.pug

doctype html
html(lang="ru")
	include includes/head.pug
	body
		include includes/preloader.pug
		include includes/header.pug
		main.main
			.shops
				.shops__banner
					+breadcrumbs(['Главная', 'Салоны'], '_white')
					.container
						h1.shops__title Салоны “Золото России“
				.shops__main
					.container
						.shops__control

							+dropdown-filter__list([
								{
									defaultValue: 'Краснодар',
									resetBtn: 'true',
									searchLine: 'true',
									typeFilter: 'list',
									typeList: 'radio',
									typeListName: 'cities',
									list: [
										{
											letter: 'А',
											values: ['Абакан', 'Азов', 'Альметьевск', 'Ангарск', 'Арзамас', 'Армавир', 'Архангельск', 'Астрахань', 'Ачинск']
										},
										{
											letter: 'Б',
											values: ['Барнаул', 'Белгород', 'Бийск', 'Благовещенск', 'Братск', 'Брянск']
										},
										{
											letter: 'В',
											values: ['Великие Луки', 'Великий Новгород', 'Владивосток', 'Владикавказ', 'Владимир', 'Волгоград', 'Волгодонск', 'Волжский', 'Вологда', 'Воркута', 'Воронеж']
										},
										{
											letter: 'Г',
											values: ['Грозный']
										},
										{
											letter: 'Д',
											values: ['Дзержинск']
										},
										{
											letter: 'Е',
											values: ['Екатеринбург', 'Елец', 'Ессентуки']
										},
										{
											letter: 'И',
											values: ['Иваново', 'Ижевск', 'Иркутск']
										},
										{
											letter: 'Й',
											values: ['Йошкар-Ола']
										},
										{
											letter: 'К',
											values: ['Казань', 'Калининград', 'Калуга', 'Камышин', 'Кемерово', 'Киров', 'Кисловодск', 'Ковров', 'Коломна', 'Комсомольск-на-Амуре', 'Кострома', 'Красногорск', 'Краснодар', 												'Красноярск', 'Курган', 'Курск', 'Кызыл']
										},
										{
											letter: 'Л',
											values: ['Липецк']
										},
										{
											letter: 'М',
											values: ['Магадан', 'Магнитогорск', 'Майкоп', 'Междуреченск', 'Миасс', 'Москва', 'Мурманск', 'Муром', 'Мытищи']
										},
										{
											letter: 'Н',
											values: ['Набережные', 'Челны', 'Назрань', 'Нальчик', 'Находка', 'Нефтекамск', 'Нефтеюганск', 'Нижневартовск', 'Нижнекамск', 'Нижний Новгород', 'Нижний Тагил', 'Новокузнецк', 												'Новокуйбышевск', 'Новороссийск', 'Новосибирск', 'Новоуральск', 'Новочеркасск', 'Новый Уренгой', 'Норильск', 'Ноябрьск']
										},
										{
											letter: 'О',
											values: ['Обнинск', 'Одинцово', 'Омск', 'Орел', 'Оренбург', 'Орехово-Зуево']
										},
										{
											letter: 'П',
											values: ['Пенза', 'Пермь', 'Петрозаводск', 'Петропавловск-Камчатский', 'Псков', 'Пятигорск']
										},
										{
											letter: 'Р',
											values: ['Ростов-на-Дону', 'Рыбинск', 'Рязань']
										},
										{
											letter: 'С',
											values: ['Самара', 'Санкт-Петербург', 'Саранск', 'Саратов', 'Сергиев Посад', 'Серпухов', 'Смоленск', 'Соликамск', 'Сочи', 'Ставрополь', 'Старый', 'Оскол', 'Стерлитамак', 'Сызрань', 'Сыктывкар']
										},
										{
											letter: 'Т',
											values: ['Таганрог', 'Тамбов', 'Тверь', 'Тобольск', 'Тольятти', 'Томск', 'Туапсе', 'Тюмень']
										},
										{
											letter: 'У',
											values: ['Улан-Удэ', 'Ульяновск', 'Уссурийск', 'Уфа', 'Ухта']
										},
										{
											letter: 'Х',
											values: ['Хабаровск', 'Химки']
										},
										{
											letter: 'Ч',
											values: ['Чебоксары', 'Челябинск', 'Череповец', 'Чита']
										},
										{
											letter: 'Э',
											values: ['Элиста', 'Энгельс']
										},
										{
											letter: 'Ю',
											values: ['Южно-Сахалинск']
										},
										{
											letter: 'Я',
											values: ['Якутск Ярославль']
										}
									]
								}
							], '_cities')

							.shops__buttons
								button._js-active(type="button") Списком
								button(type="button") На карте
						.shops__content
							.shops__list-container.shops__content-item._js-active
								p.shops__sum Найдено <span> 8 </span> салонов
								ul.shops__list
								.show-more
									button.btn._white(type="button") Показать еще
										span  10
							.shops__map.shops__content-item#map(data-lat="59.94020350" data-lng="30.32766486")
		include includes/footer.pug
		include includes/scripts.pug