.accordion-list {
	width: calc(890 / 1200 * 100%);
	margin: 0 auto calc(100 / 1200 * 100%);
	
	&__item {
		&:not(:first-of-type) {
			.accordion-list__item-dropdown {
				display: none;
			}
		}
	}
	
	&__item-toggle {
		position: relative;
		padding: 20px 50px 20px 0;
		font: 18px/20px var(--MontserratR);
		color: var(--black);
		border-bottom: 1px solid var(--pale-gray);
		cursor: pointer;
		transition: 400ms;
		
		&:hover {
			.accordion-list__item-drop {
				background: var(--orange);
				border-color: var(--orange);
				
				svg {
					stroke: white;
					stroke-width: 2px;
				}
			}
		}
		
		&._js-open {
			border-color: transparent;
			
			.accordion-list__item-drop {
				border-top-left-radius: 50%;
				border-bottom-right-radius: 0;
			}
		}
	}
	
	&__item-drop {
		position: absolute;
		top: 50%;
		right: 10px;
		transform: translateY(-50%) rotate(45deg);
		width: 20px;
		height: 20px;
		border: 1px solid var(--black);
		border-radius: 0 50% 50%;
		transition: 400ms;
		
		svg {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%) rotate(-45deg);
			display: block;
			width: 18px;
			height: 11px;
			stroke-width: 1px;
			stroke: var(--black);
			transition: 400ms;
		}
	}
	
	&__item-dropdown {
		box-shadow: 0 2px 7px rgba(0, 0, 0, .13);
	}
	
	&__item-content {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		padding: 22px 30px;
		font: 14px/30px var(--MontserratR);
		color: var(--black);
	}
	
	&__item-pict {
		display: block;
		max-width: 285px;
		height: auto;
		margin-right: 45px;
	}
	
	&__item-text {
		flex-grow: 1;
		width: calc(490 / 890 * 100%);
		line-height: 24px;
	}
}