.advantages {
	margin-bottom: 110px;

	&__title {
		margin-bottom: 10px;
		text-align: center;
	}

	&__slogan {
		margin-bottom: 65px;
		text-align: center;
		font: 16px/22px var(--MontserratL);
		color: var(--gray);
	}

	&__pict {
		display: block;
		margin: 0 auto;
		max-width: 100%;
		max-height: 500px;
		height: auto;
	}
}