.article {
	&__wrapper {
		position: relative;
	}

	&__content {
		max-width: 760px;
		padding: 0 30px 40px;
		margin: 0 auto;
		text-align: center;

		h1 {
			margin-bottom: 30px;
		}

		& > button {
			display: flex;
			align-items: center;
			height: 32px;
			padding: 0 24px;
			margin: 0 auto 45px;
			font-family: var(--MontserratL);
			font-size: 16px;
			background-color: var(--red-light);
			transition: 300ms;

			span {
				transition: 300ms;
				color: var(--gray-dark);
				margin-right: 20px;
			}

			svg {
				fill: black;
				height: 18px;
				transition: 300ms;
			}

			&:hover {
				background-color: var(--orange);

				span {
					color: white;
				}

				svg {
					fill: white;
				}
			}
		}

		time {
			display: inline-block;
			margin-bottom: 20px;
			color: var(--orange);
		}

		& > p {
			text-align: left;
			font-family: var(--MontserratL);
			color: var(--gray-dark);
			margin-bottom: 60px;
			line-height: 22px;
		}

		& > img {
			width: 100%;
			margin-bottom: 60px;
		}
	}

	&__slider {
		position: relative;
		padding-bottom: 45px;
		margin-bottom: 40px;
	}

	&__image-list {
		li {
			position: relative;
			height: 260px;
			width: 100%;
			overflow: hidden;

			img {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				min-height: 100%;
				min-width: 100%;
			}
		}
	}

	&__dots {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
	}
}
