.search-form {

	&__row {
		position: relative;
		display: block;
	}

	&__field {
		display: block;
		width: 100%;
		height: 40px;
		padding-left: 15px;
		padding-right: 47px;
		border: 1px solid var(--border-gray);
		font: 12px var(--MontserratR);
		color: var(--black);

		&::placeholder {
			color: var(--gray-dark);
		}
	}

	&__btn {
		position: absolute;
		top: 50%;
		right: 12px;
		transform: translateY(-50%);
		width: 20px;
		height: 20px;

		svg {
			display: block;
			width: 100%;
			height: 100%;
		}
	}
}